.card__grid {
  display: grid;
  gap: 2rem;
  grid-auto-rows: 180px;
}

@media (min-width: 640px) {
  .card__grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media (min-width: 1400px) {
  .card__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card__grid .card {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.31, 0.96, 0.84, -0.09);
  transition-timing-function: cubic-bezier(0.88, 0.03, 0.32, 1.28);
}

.card__grid .card:hover,
.card__grid .card:hover h2 {
  color: white;
}

.semi {
  border-radius: 60px 0 10px 0;
}

.theme__active {
  background-color: rgb(243, 243, 243);
}

/* tab and chart styling */
.tabs {
  padding: 15px 20px;
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
  .tabs {
    padding: 10px;
  }
}

.tabs:not(:first-child) {
  margin-left: 10px;
}

.tabs:hover,
.tab__active {
  background-color: rgba(56, 108, 226, 1);
  color: white;
}

.tab__content {
  display: none;
}

.active__content {
  display: block;
}
